.ipynb_checkpoints
precal_sens_a0-largest.R
precal_sens_a10-largest.R
*calibration*.csv
precal_timing_tests.R
*.RData
*.rds
*.so
*.o
fortran/Makefile
figures/
R/old
output
*.Rapp.history
*.Rhistory
.DS_Store
*.nc
*.RData
*.log
